<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>NSCalendarsUsageDescription</key>
		<string>APP需要您的同意，才能访问日历，以便于获取更好的使用体验</string>
		<key>NSRemindersUsageDescription</key>
		<string>APP需要您的同意，才能访问提醒事项，以便于获取更好的使用体验</string>
	</dict>
</plist>