.maindiv{
    width: 750rpx;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
    .title {
        width: 750rpx;
        height: 150rpx;
        padding-bottom: 30rpx;
        background: #fff;
        display: flex;
        align-items: end;
        justify-content: center;
        position: sticky;
        top: 0;
        z-index: 100;
    }
    .title image {
        width: 50rpx;
        height: 50rpx;
        position: absolute;
        left: 40rpx;
    }
    .title text {
        color: #101828;
        font-family: Nunito;
        font-size: 35rpx;
        font-weight: 700;
        line-height: 140%;
        text-align: center;
    }
    .popup-content{
        border-top-left-radius: 40rpx;
        border-top-right-radius: 40rpx; 
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30rpx;
        padding: 40rpx;
        text-align: center;
        .btns{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20rpx;
            font-family: Nunito;
            font-size: 30rpx;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.1px;
            .btn{
                width: 300rpx;
            }
            .btn-cancel{
                border: 1px solid #838383;
                background-color: white;
                color:#000;
            }
        }
        .commets{
            width: 600rpx;
            border-radius: 25rpx;
            height: 160rpx;
            overflow: scroll;
            border: 1px solid #838383;
            text-align: left;
            padding: 30rpx;
        }
        .sub_title{
            color: #000;
            font-family: Nunito;
            font-size: 40rpx;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            letter-spacing: -0.2px;
        }
        .content{
            color: #838383;
            text-align: center;
            font-family: Nunito;
            font-size: 25rpx;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
        }
        .btn{  
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 85rpx; 
            line-height: 80rpx;
            width: 630rpx;
            font-family: Nunito;
            font-size: 30rpx;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.1px;
            border-radius: 100px;
            background: #EFC462;
            color:white;
        }
    }
    .content{
        width: 600rpx;
        padding: 30rpx 40rpx; 
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 10rpx;
        background-color: white;
        margin-top: 30rpx;
        .sub_title {
            color: #000;
            font-family: Nunito;
            font-size: 26rpx;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;                
        }
        .txt {
            color: #667085;
            font-family: Nunito;
            font-size: 22rpx;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            margin-bottom: 20rpx;
        }
        .comments {
            width: 600rpx;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10rpx;
        }
    }
    .vbtm{
        position: fixed;
        bottom: 0;
        height: 150rpx;
        width: 750rpx;
        border-top: 1px solid #E9EAEC; 
        background: #FEFEFE;
        display: flex;
        justify-content: center; 
        align-items: center;
        gap: 20rpx;
        .btn{  
            height: 85rpx; 
            width: 300rpx;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 100px;
            color:white;
            font-family: Nunito;
            font-size: 30rpx;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.1px;
        }
        .btnimg{
            width: 48rpx;
            height: 48rpx;
            margin-right: 5rpx;
        }
        .success{
            border:1px solid #1A8E05;
            color:#1A8E05;
        }
        .error{
            border:1px solid #808080;
            color:#808080;
        }
        .btn_cancel {
            height: 85rpx; 
            width: 675rpx;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 100px;
            color:white;
            background: #EFC462;
            font-family: Nunito;
            font-size: 30rpx;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.1px;
        }
    } 
} 