.clock_in {
    width: 750rpx;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30rpx;
}
.maintitle {
    width: 750rpx;
    height: 160rpx;
    padding-left: 35rpx;
    padding-right: 35rpx;
    padding-bottom: 30rpx; 
    background: #fff;
    display: flex; 
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;   
}
.statuses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 680rpx;    
    margin-bottom: 10rpx;
}
.status-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.status-item {
    color: #808080; 
    font-family: Inter;
    font-size: 30rpx;  
    font-weight: 500; 
}
.activepostion{
    color: #000;
}
.status-slice {
    margin-left: 10rpx;
    margin-right: 10rpx;
    margin-bottom: 5rpx;
    font-size: 30rpx; 
}
.history-img {
    width: 40rpx;
    height: 40rpx;
}
.content{
    width: 680rpx;
    border-radius: 6rpx;
    border: 1px solid #F1F1F1;
    background: #FFF;
    padding: 30rpx;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20rpx;
}
.top{ 
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rili-img{
    margin-right: 10rpx;
    width: 45rpx;
    height: 45rpx;
}
.date {
    color: #333;
    font-family: Inter;
    font-size: 35rpx;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.nocheckin-msg{
    color: #808080; 
    font-family: Inter;
    font-size: 30rpx; 
    font-weight: 500;
    margin: 20rpx 0;
}
.img_box {
    width: 620rpx;
    height: 120rpx;
    padding: 0;
}
.Clockin-img{
    width: 615rpx;
    height: 120rpx;
}
.map{
    width: 700rpx;
    height: 300rpx;
    border-radius: 10rpx;
}
.iframemap{
    border-radius: 10rpx;
}
.coordinate {
    display: flex;
    width: 620rpx;
    flex-direction: row;
    gap: 10rpx;
    margin: 20rpx 0;
}
.coordinate image {
    width: 20rpx;
    height: 20rpx;
}
.address{
    width: 580rpx;
    color: #808080;
    font-family: Inter;
    font-size: 26rpx;
    font-style: normal;
    font-weight: 500; 
}
.clock_time {
    width: 620rpx;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20rpx;
}
.clock_time_info {
    width: 300rpx;
    height: 168rpx; 
    padding: 20rpx 30rpx;
    border-radius: 10px;
    border: 1px solid #EAECF0;
    background: #F9FAFB;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.times-msg{ 
    display: flex;  
    flex-direction: row;   
    margin-bottom: 25rpx;  
}
.chimg{
    width: 36rpx;
    height: 36rpx;
    margin-right: 5rpx;
}
.type {
    color: #475467;
    text-align: center; 
    font-style: normal;
    line-height: normal;
    font-size: 26rpx;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.15px;
}
.time {
    color: #000;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
    text-align: center;
    font-size: 45rpx;
    font-weight: 600;
    letter-spacing: -0.5px;
}
.blackbtn{
    width: 670rpx;
    height: 85rpx;    
    border-radius: 100px;  
    line-height: 85rpx;
    text-align: center;
    font-size: 30rpx; 
    font-weight: 600; 
    margin-top: 30rpx; 
    background-color: #333;
    color: white;
}
.bluebtn{
    width: 670rpx;
    height: 85rpx;    
    border-radius: 100px;  
    line-height: 85rpx;
    text-align: center;
    font-size: 30rpx; 
    font-weight: 600; 
    margin-top: 30rpx; 
    background-color: #2196F3 !important;
    color: white  !important; 
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 750rpx;
    height: 1900rpx;
    background: rgba(0, 0, 0, 0.50);
    z-index: 1010;
}
.leave_request { 
    position: fixed;
    width: 750rpx;
    height: 1100rpx; 
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10rpx  40rpx;  
    background-color: #FFF;
    z-index: 102;
}
.leave_opt {
    width: 670rpx;
}
.title {
    width: 670rpx;
    text-align: center;
    color: #000;
    font-family: Nunito;
    font-size: 40rpx;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.2px;
    margin-bottom: 25px;
    margin-top: 25rpx;
}
.msgs {
    color: #475467;
    font-family: Nunito;
    font-size: 26rpx;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.2px;
    margin-bottom: 10rpx;
    margin-top: 10rpx;
}
textarea {
    width: 600rpx;
    padding: 20rpx 30rpx;
    border-radius: 8px;
    border: 1px solid #DADADA;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    font-family: Nunito;
    font-size: 26rpx;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.25px;
}
.btn22 { 
    width: 670rpx;
    height: 85rpx;   
    background: #EFC462; 
    border-radius: 100px; 
    color: white;
    line-height: 85rpx;
    text-align: center;
    font-size: 30rpx; 
    font-weight: 600; 
    margin-top: 30rpx; 
}

.mapitem{
    width: 700rpx;
    height: 600rpx;
}
.googlemap{ 
    border-radius: 10rpx;
    margin-top: 25rpx;
}
.sub_title {
    width: 690rpx;
    color: #101828;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
    font-size: 22rpx;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.5px;
} 
.profile {
    width: 600rpx;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 40rpx;
    gap: 20rpx;
    border-radius: 12px;
    border: 1px solid   #EAECF0;
    background: #F9FAFB;
}
.name {
    color: #141414;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
    font-size: 40rpx;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
}
text {
    margin-top: 3rpx;
    color: #808080;
    font-family: Inter; 
    font-size: 22rpx;
    font-weight: 400; 
}
.notes{
    width: 650rpx;
    margin-top: 5rpx;
    border: 1px solid #F1F1F1;
} 
.type_menu {
    width: 600rpx;
    padding: 20rpx 30rpx;
    background: #fff;
    border: 1px solid #DADADA;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 20rpx;
    align-items: start;
    z-index: 2;
}
.active {
    border-radius: 8px 8px 0 0;
    border-bottom: none;
}